<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
  Dokumentation (da uden ae/oe/aa problem):
  - Navbar som Thymeleaf fragment (genbruges paa alle sider).
  - App look: brand til venstre, menupunkter i midten, logout som knap til hoejre.
  - Aktiv link markering (simpel): vi bruger data-active attribute pr. side senere hvis du vil.
-->
<nav th:fragment="navbar" class="topbar">
    <div class="topbar-inner">

        <a class="topbar-brand" th:href="@{/}">
            <span class="dot"></span>
            BilAbonnement
        </a>

        <div class="topbar-menu">
            <a th:href="@{/}">Forside</a>
            <a th:href="@{/biler}">Biler</a>
            <a th:href="@{/kunder}">Kunder</a>
            <a th:href="@{/abonnementer}">Abonnementer</a>
            <a th:href="@{/data/lejeaftale/opret}">Lejeaftale</a>
            <a th:href="@{/skader/opret}">Skader</a>
            <a th:href="@{/dashboard}">Dashboard</a>

        </div>

        <div class="topbar-actions">
            <a th:href="@{/logout}" class="btn-logout">Log ud</a>
        </div>

    </div>
</nav>


</body>
</html>